---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---




<DefaultLayout title="Contact">
<section>
  <div class="container py-12">

    <!-- Contact Form is required for this section. End point also needs setting up for form data-->

  </div>
</section>
</DefaultLayout>