---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---




<DefaultLayout title="Contact">
<section>
  <div class="container py-12">

    <!-- Contact Form is required for this section. End point also needs setting up for form data-->
    <h2 class="text-3xl font-bold mb-4 text-center">Contact Us</h2>
    <h4 class="text-xl font-bold mb-4 text-center">Get in touch with us</h4>

    <h6 class="text-center">Notice: Our contact form is currently not working, please email <a href="mailto:hello@t2k.group?subject=Business query (Website)">hello@t2k.group</a> and one of our team will be in touch with you</h6>
    
  </div>
</section>
</DefaultLayout>