---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="About">

        <h2 class="font-bold text-center pt-5">Drone Photography</h2>

        <ContentMedia imgSrc="../drone1.webp">
          <h2 class="font-bold">Site surveys</h2>
          <p class="text-2xl">
            We can provide you with detailed aerial photography and video of your site. This can be used for planning, marketing or just to show off your site. We have a wide range of equipment meaning there is no job too big or too small.
          </p>
        </ContentMedia>
        <ContentMedia imgSrc="../damagedroof.webp" reverseImg={true}>
          <h2 class="font-bold">Damage Assesements</h2>
          <p class="text-2xl">
            We have provided damage assessments for insurance companies, councils and individuals. We can provide imaging services of hard to reach or dangerous locations for a fraction of the cost of traditional methods.
          </p>
        </ContentMedia>
        <div class="container">
        <p class="text-2xl text-center">
          We are fully insured and CAA licensed for drone operations in the UK. We can provide you with a full risk assessment and method statement for your project. We can also provide you with a full video and photo editing service to make sure you get the most out of your footage. Contact us today to discuss your project.
        </p>
      </div>

</DefaultLayout>