---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Who we are.</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:hammer" title="Bespoke">
          
We understand that each business is unique, with its own set of challenges and goals. That's why we go beyond cookie-cutter approaches and offer personalized engineering solutions that are meticulously crafted to align perfectly with your specific requirements. Our dedication to tailoring bespoke solutions ensures that your business receives the precise tools and strategies it needs to thrive in today's dynamic marketplace. Experience the power of a solution that is as distinctive as your business itself.
        </Feature>
        <Feature icon="mdi:work-outline" title="Seasoned">
          With an extensive portfolio of successfully collaborating with a diverse clientele, including government and local government bodies, we bring a wealth of experience to the table. This seasoned perspective enables us to approach each project with a deep understanding of the unique requirements, regulations, and complexities involved. Our track record of delivering exceptional results in the public sector showcases our ability to navigate challenging landscapes and provide insightful solutions. Partner with us to benefit from our seasoned expertise and embark on a path to success with confidence.
        </Feature>
        <Feature icon="mdi:think-outline" title="Progressive Problem-Solving">
          With a progressive mindset, we approach problem-solving from fresh perspectives, seeking unconventional solutions that challenge the status quo. By embracing agility and adaptability, we provide forward-thinking engineering solutions that address complex challenges and drive progress. Join us on a journey of progressive problem-solving and unlock new opportunities for your business.
        </Feature>
      </div>
    </div>
  </section>
  <section class="mt-64 mb-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="15+" title="Projects" sub="Under Development" />
        <Counter count="3" title="Fortune 500" sub="Clients" />
        <Counter count="99.97%" title="On-time" sub="Completion" />
        <Counter count="83%" title="of Clients" sub="Come back in 3 months" />
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/stock-1.webp">
    <h2>Unleash the Power of our Extensive Toolbox</h2>
    <p class="text-2xl">
      We pride ourselves on our extensive experience with a wide range of tools and components. Just like a skilled craftsman carrying a well-equipped toolbox, we bring a diverse array of expertise to every project we undertake.
      From complex machinery and cutting-edge technologies to intricate systems and specialized components, we have worked with a diverse range of tools and components throughout our journey.     
      With our extensive toolbox of experience, we approach each project with versatility and adaptability. We carefully select and deploy the most suitable tools and components, drawing on our vast knowledge to optimize performance, streamline processes, and overcome challenges.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/stock-2.webp" reverseImg={true}>
    <h2>Optimal Project Management</h2>
    <p class="text-2xl">
      We understand that successful project management goes beyond technical expertise and efficient workflows. We firmly believe that building a strong relationship with our customers is essential to delivering the best possible solutions.
      We approach project management as a collaborative journey, working closely with our customers to understand their unique needs, challenges, and aspirations. By forging a strong partnership, we gain valuable insights into your business objectives, enabling us to tailor our project management approach to align perfectly with your goals.
    </p>
  </ContentMedia>


</DefaultLayout>
