---
import { Icon } from 'astro-icon'

const { src = '/t2k-logo-black.webp' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot ><span class="text-gradient ">T2K Group</span> </slot>
        </h1>
        <p class="text-center text-2xl md:text-left lg:text-4xl">
          <slot name="subtitle">Transform your business with our top-notch engineering services and consultations tailored to your unique needs. Experience excellence and achieve your goals with T2K Group.</slot>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/contact">
            <Icon pack="ic" name="baseline-phone"/>
            Book a Consultation
          </a>
          <a
            class="button has-icon color-secondary"
            href="/about"
          >
            <Icon pack="ion" name="bookmark-outline" />
            Learn More
          </a>
        </div>
      </div>
      <img class="hidden lg:block rounded-md" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
